input:focus-visible {
  outline: unset;
}

.calculator-container {
  width: 400px;
}

.calculator-container input {
  background-color: #858694;
  color: white;
  border: unset;
  padding: 10px 5px;
  box-sizing: border-box;
  text-align: right;
}

.calculator-container input,
.calculator-container table {
  width: 100%;
}

.calculator-container table,
td {
  border: 0.5px solid #cfcfcf;
  border-collapse: collapse;
  padding: 10px 5px;
  text-align: center;
}

.bg-light-gray {
  background-color: #e0e0e0;
}

.bg-orange {
  background-color: #f5913e;
}
